---
    interface Props {
      title: string;
      description: string;
      link: string;
    }

    const { title, description, link } = Astro.props;
    ---

    <li>
      <a href={link}>
        <h2>{title}</h2>
        <p>{description}</p>
      </a>
    </li>
